{% extends 'base.html' %} {% load crispy_forms_tags %} {% load static %} {% block content %}

<div class="row">
    <div class="col-md-12 mb-5">
        <h1 class="display-2 text-center">
            <img src="{% static 'img/logo.png' %}" width="50%">
        </h1>
    </div>
</div>

<!--Input forms-->
<div class="row">
    <div class="col-md-6 ml-auto mr-auto">
        <form autocomplete="off" action="" method="post">
            {% csrf_token %} {{ form|crispy }}
            <input type="submit" value="Search" class="btn btn-info btn-block">
        </form>
        <!--Message if url is incorrect-->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

<!--Avoid forms message-->
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
<!--Video/music info-->
{% if title %}
<div class="row">
    <div class="col-md-6 ml-auto mr-auto mt-5">
        <h1 class="h1 text-center"><a class="h1 text-center font-weight-bold" href="{{ author_url }}" target="__blank">{{ author }}</a></h1>
        <h1 class="h3 text-center font-italic">{{ title }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4 ml-auto mr-auto mt-5">
        <img class="img-fluid" src="{{ thumb }}">
    </div>

    <div class="col-md-4 ml-auto mr-auto mt-5 pt-5">
        <ul class="list-group list-group-flush">
            <li class="border-0 pl-2 pr-2 pb-0 text-center">
                <p class="lead"><i class="bi bi-clock-history"></i> : {{ duration }}</p>
            </li>
            <li class="border-0 pl-2 pr-2 pb-0 text-center">
                <p class="lead"><i class="bi bi-eye"></i> : {{ views }}</p>
            </li>
            <li class="border-0 pl-2 pr-2 pb-0 text-center">
                <p class="lead text-center font-italic"><i class="bi bi-hand-thumbs-up"></i> : {{ rating }}</p>
            </li>
        </ul>
    </div>
</div>
<!--Video download options-->
<div class="row">
    <div class="col-md-12">
        <p class="h3 text-center mt-5 mb-5">Video</p>
        <table class="table-responsive mt-5">
            <thead class="thead-light">
                <tr align="center">
                    <th scope="col"><i class="bi bi-aspect-ratio"></i></th>
                    <th scope="col"><i class="bi bi-files"></i></th>
                    <th scope="col"><i class="bi bi-file-earmark-play"></i></th>
                    <th scope="col"><i class="bi bi-download"></i></th>
                </tr>
            </thead>
            <tbody>
                {% for stream in streams %}
                <tr align="center">
                    {% if stream.resolution == '720p' %}
                        <td>{{ stream.resolution }} <i class="bi bi-badge-hd" style="color: #ff726f;"></i></td>
                    {% else %}
                        <td>{{ stream.resolution }}</td>
                    {% endif %}
                    <td>{{ stream.file_size }}</td>
                    <td>{{ stream.extension }}</td>
                    <td>
                        <a class="btn btn-info btn-block" href="{{ stream.video_url }}" target="_blank" download="{{ stream.file_name }}">Download</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!--Audio only download options-->
        <p class="h3 text-center mt-5 mb-5">Audio Only</p>
        <table class="table-responsive mt-5 mb-5">
            <thead class="thead-light">
                <tr align="center">
                    <th scope="col"><i class="bi bi-music-note-beamed"></i></th>
                    <th scope="col"><i class="bi bi-files"></i></th>
                    <th scope="col"><i class="bi bi-file-earmark-music"></i></th>
                    <th scope="col"><i class="bi bi-download"></i></th>
                </tr>
            </thead>
            <tbody>
                {% for stream in stream_audio %}
                <tr align="center">
                    <td>{{ stream.resolution }}</td>
                    <td>{{ stream.file_size }}</td>
                    <td>{{ stream.extension }}</td>
                    <td>
                        <a class="btn btn-info btn-block" href="{{ stream.video_url }}" target="_blank" download="{{ stream.file_name }}">Download</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}
